@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-slate-900 text-white;
  @apply px-2 lg:px-14;
}

button:hover{
  transition: .3s;
  scale: .90;
}

.each-post{
  @apply mt-10 rounded-lg;
  border: 1px skyblue solid;
  display: flex;
  flex-wrap: wrap;
}

.heading-post{
  @apply bg-orange-500 font-bold h-max rounded-t-lg p-2 flex text-2xl justify-between gap-4; 
}
.body-post{
  @apply p-4 min-h-80;
}